html, body {
  margin: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100vh;
}
#resetView {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 8px 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
