html, body {
    height: 100%;
    margin: 0;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background: #395258;
    color: white;
    display: flex;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
#toolbar label {
    margin-left: 16px;
    margin-right: 16px;
    font-weight: normal;
    cursor: pointer;
}

#map {
    position: absolute;
    top: 48px;
    height: 100%;
    width: 100%;
}