:root {
	--font-primary: "Inter", sans-serif;
	--font-secondary: "Roboto", sans-serif;
}

* {
	font-family:
		var(--font-primary), var(--font-secondary), -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

	--color-bg: oklch(98% 0.02 90);
}

body {
	margin: 0;
	padding: 0;
}

html,
body,
#map {
	height: 100%;
	width: 100%;
}

#layout {
	display: grid;
	grid-template-columns: 20rem 1fr;
	height: 100vh;
}

#menu {
	padding: 1rem;
	border-right: 1px solid #ccc;
	box-sizing: border-box;

	overflow-y: auto;
	background-color: var(--color-bg);
	font-size: larger;
}

div#distance {
	margin-top: 3rem;
}

div#distance-stats {
	margin-top: 1rem;
	font-size: medium;
	color: #555;
}
